section .stoudies {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteiner-2 {
  position: relative;
  width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.conteiner-2 .card-2 {
  position: relative;
  width: 350px;
  height: 235px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.conteiner-2 .card-2:hover {
  height: 500px;
}
.conteiner-2 .card-2 .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 60px;
  z-index: 1;
}

.conteiner-2 .card-2 .imgBx img {
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.conteiner-2 .card-2 .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.conteiner-2 .card-2:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
.box-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.conteiner-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
}

.conteiner-3 .box {
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}

.conteiner-3 .box:hover {
  transform: translateY(-20px);
}
.conteiner-3 .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.conteiner-3 .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}

.conteiner-3 .box:nth-child(2)::before,
.conteiner-3 .box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.conteiner-3 .box:nth-child(3)::before,
.conteiner-3 .box:nth-child(3)::after {
  background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.conteiner-3 .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.conteiner-3 .box span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.conteiner-3 .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}

.conteiner-3 .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.conteiner-3 .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}

section .slider {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2196f3;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 300px;
}

.slide-2 {
    width: 300px;
    height: 550px;
}
@media(max-width: 768px){
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 330px;
        height: 200px;
    }
    .slide-2 {
        width: 280px;
        height: 500px;
    }
}
